body {
    background-image: url(https://static.tildacdn.com/tild3533-3165-4030-b339-653235666465/1667198915_3-4.png);
}


p {
    font-size: 24px;
    /* Размер шрифта */

}


ul {
    font-size: 24px;
}